.app {
  margin: 20px;
}
.counter {
  display: flex;
}
.container {
  margin: 20px;
}
.container.dark {
  background-color: aliceblue;
}

.container.light {
  background-color: black;
}

.otp {
  margin: 20px;
}

/* star rating */
.star .empty {
  color: rgb(173, 160, 160);
  font-size: 50px;
}

.star .fill {
  color: orange;
  font-size: 50px;
}

.progressBar {
  width: 100%;
  background-color: lightgrey;
  margin-top: 20px;
  border-radius: 5px;
}

.progressHolder {
  background-color: lightcoral;
  border-radius: 5px;
  padding: 10px;
}
.search-results {
  width: 150px;
}
.memo {
  border: 1px solid black;
  margin: 10px;
  width: 500px;
  height: 200px;
}
.theme {
  margin: 5px;
}
.theme.light {
  background-color: gainsboro;
}
.theme .dark {
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}
form div {
  margin: 3px;
}
form button {
  width: 100px;
  margin: 5px;
}

.dropbox {
  background-color: rgb(236, 220, 223);
  border: 1px solid black;
  width: 150px;
  height: 100px;
}

.formLogin input {
  width: 200px;
  border: 1px solid black;
}

.formLogin label {
  margin: 5px;
}
.formLogin1 label {
  margin: 5px;
}
.formLogin2 label {
  margin: 5px;
}

.formLogin2 input {
  width: 200px;
}
.formLogin2.edu input {
  width: 20px;
}
.alldata {
  border: 1px solid black;
  margin-top: 20px;
  width: 200px;
  text-align: center;
}
.alldata ul li {
  list-style-type: none;
}
.tabs {
  border: 1px solid black;
  width: 50%;
  /* height: 250px; */
}
.tabHead {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

/* pagination */
.pagination ul li {
  list-style-type: none;
}
.user {
  border: 1px solid black;
  margin: 10px;
  padding: 50px;
}
.pagebox{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.pagenum {
  width: 30px;
  height: 30px;
  background-color: rgb(217, 233, 234);
  margin: 3px;
  padding: 3px;
 text-align: center;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards img{
   width: 180px;
  height: 180px;
  background-color: gray;
  margin: 6px;
}
