.app{
  margin: 20px;
}
.counter {
  display: flex;
}
.container{
  margin: 20px;
}
.container.dark {
  background-color: aliceblue;
}

.container.light {
  background-color: black;
}

.otp { 
  margin: 20px;
}

/* star rating */
.star .empty {
 color: rgb(173, 160, 160);
font-size: 50px;
}

.star .fill {
  color: orange;
 font-size: 50px;
 }