.app {
  margin: 20px;
}
.counter {
  display: flex;
}
.container {
  margin: 20px;
}
.container.dark {
  background-color: aliceblue;
}

.container.light {
  background-color: black;
}

.otp {
  margin: 20px;
}

/* star rating */
.star .empty {
  color: rgb(173, 160, 160);
  font-size: 50px;
}

.star .fill {
  color: orange;
  font-size: 50px;
}

.progress-container {
  width: auto;
  height: 30px;
  background-color: rgb(204, 196, 196);
  border: 1px solid black;
  border-radius: 5px;
}
.progress {
  border-radius: 5px;
  width: 25%;
  height: 30px;
  background-color: rgb(244, 225, 15);
}
.search-results {
  width: 150px;
}
.memo {
  border: 1px solid black;
  margin: 10px;
  width: 500px;
  height: 200px;
}
.theme {
  margin: 5px;
}
.theme.light {
  background-color: gainsboro;
}
.theme .dark {
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}
form div {
  margin: 3px;
}
form button {
  width: 100px;
  margin: 5px;
}

.dropbox {
  background-color: rgb(236, 220, 223);
  border: 1px solid black;
  width: 150px;
  height: 100px;
}

.formLogin input {
  width: 200px;
  border: 1px solid black;
}

.formLogin label {
  margin: 5px;
}
.formLogin1 label {
  margin: 5px;
}
.formLogin2 label {
  margin: 5px;
}

.formLogin2 input {
  width: 200px;
}
.formLogin2.edu input {
  width: 20px;
}

.alldata ul li {
  list-style-type: none;
}
